<nav>
    <ul>
            <h3>Message </h3>
            <li>
                <p><%= message%></p>
                <p><%=  %></p>
                <p><%= %></p>
                <a href="/message"><button>Open</button></a>
            </li>
      
    </ul>
    <a href="/new">
        <span>Create new User ==></span>
    </a>
</nav>